#tagline
  h1 About Us

#main
  #column_left
    //- Should probably move this out to not be hard-coded
    :markdown
      About CompassionPit
      -------------------
      CompassionPit was started in 2010 by [Zachary Burt](http://www.zacharyburt.com) in order to alleviate a specific kind of burden: to allow you to vent about something weighing you down without fear of it being used against you in the future.
      
      An awesome Australian named Grant contributed the beautiful design. He is available for freelance work. You can contact him at _admin_@_idrumskins_._com_ and you can check out his site at [iDrumSkins.com](http://www.idrumskins.com/).
      
      Twitter
      -------
      You can follow us on Twitter if you'd like! Our name is [@CompassionPit](http://www.twitter.com/CompassionPit).

      Contact
      -------
      If you have any questions, you can contact us at _zackster_@_gmail_._com_. Please put "CompassionPit" in the subject line. Thanks!
    
    br.clear
  
  #column_right
    #buttons1
  
  br.clear
