#main
  #extra
    //- Should probably move this out to not be hard-coded
    :markdown
      About CompassionPit
      -------------------
      The purpose of CompassionPit is to alleviate a specific kind of burden: to allow you to vent about something weighing you down without fear of it being used against you in the future.  I started it because I wanted it for myself and I realized how many people it would help. We're all more similar than we are different.
      
      The site went up in August 2010.

      About Me
      --------
      My name is Zachary Burt.  I started a company called [Awesomeness Reminders](http://www.awesomenessreminders.com).  
 
      You can follow me on Twitter [(@zburt)](http://www.twitter.com/zburt).  I tweet a lot of stream of consciousness thoughts though, so if you can't handle it feel free to just follow [(@CompassionPit)](http://www.twitter.com/compassionpit).  
            
      Contact
      -------
      If you have any questions, you can contact me at _zackster_@_gmail_._com_. Please put "CompassionPit" in the subject line. Thanks!
      
      Credit
      ------
      [Grant](http://starmillproductions.com/) contributed the beautiful design. He is available for freelance work.
      
      Cody Brocious coded the first version of CompassionPit and used python
      
      Yogi Patel implemented a rewrite of CompassionPit using the node.js server-side javascript framework, which is the basis for our stability
      
      Cameron Knight did extensive engineering of the CompassionPit architecture and can be trusted to write code

      Source Code
      -----------
      The server powering the site is written in Node.js and I have released the source code for free.  Take a look: [https://github.com/zackster/CompassionPit--Node-/](https://github.com/zackster/CompassionPit--Node-/).
        
