#main
  #audioPlayer
  #left
    #column_left_chat
      table#chatWindow
        tr
    #chat_input
      form
        input#inform(type="text", autocomplete="off", size="110")
        input#sendmessage(type="submit", value="SEND")
  #right
    #buttons1
      #status &nbsp;
      ul
        li
          a(href="#", id="newPartner") Find a new partner
        li
          label
            input(type="checkbox", id="enable_sound")
            #{" Enable Sound"}
        li
          label
            input(type="checkbox", id="enable_typing")
            #{" Visible Typing"}
        li
          a(href="#", id="reportAbuse") Report Abuse
        #typing_status
script
  //- Google Website Optimizer Tracking Script
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-17971348-2']);
  _gaq.push(['gwo._trackPageview', '/1104807929/goal']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

script
  window.CLIENT_TYPE = !{JSON.stringify(type)};
