script
  //- Google Website Optimizer Tracking Script
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-17971348-2']);
  _gaq.push(['gwo._trackPageview', '/4007739858/goal']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

script
  window.CLIENT_TYPE = !{JSON.stringify(type)};

#audioPlayer
#tagline
  h1
    #status
#main
  #column_left_chat
    table#chatWindow(width="100%")
      tr
        td
    br.clear
  
  #column_right_chat
    #buttons1
      ul
        li
          a(href="#", id="newPartner") Find a new partner
        li(style="font-family:Arial, Helvetica, sans-serif;font-size:.8em")
          label
            input(type="checkbox", id="enable_sound")
            #{"Enable sound"}
        li(style="display:none")
          a(href="#") Report ABUSE
  
  br.clear
