#main
  #extra
    //- Should probably move this out to not be hard-coded
    :markdown
      Email
      -----
      Feel free to get in touch by sending an email to <zachary@CompassionPit.com>
      
      Twitter
      -------
      We love Tweets! Tell your friends about @CompassionPit and follow us too!

    a(href="https://twitter.com/CompassionPit",class="twitter-follow-button")
        Follow @CompassionPit
      script(src="//platform.twitter.com/widgets.js")
        </script>
      :markdown
          Or you can use this handy form!
          -------------------------------

      iframe(src="https://awesomenessreminders.wufoo.com/embed/k7x2z1/",height="437",allowTransparency="true",frameborder="0",scrolling="no",style="width:100%;border:none")
        a(href="https://awesomenessreminders.wufoo.com/forms/k7x2z1/",title="Contact CompassionPit"
          Fill out my Wufoo form!

