#main
  #extra
    //- Should probably move this out to not be hard-coded
    :markdown
      How do you deal with abuse?
      -----
      If a listener is dealing with a venter in a non-compassionate way, we encourage venters to click the "Report Abuse" link in the bottom right-hand side of the chat.  We regularly monitor the reported abuse logs and ban the (encrypted) IP addresses from participating in CompassionPit.
      
      Can the listener see where I am from?
      ----
      No.  We only show you the listener's approximate location information so you can be sure that you are not accidentally speaking to someone you know in real life.
      
      I love CompassionPit. How can I contribute?
      ----
      The main ways are to regularly participate as a listener, and post on [the CompassionPit forum](http://www.CompassionPit.com/forum/) with ideas about how to improve the project experience. 
      
      You can also spread the word:
    a.twitter-share-button(href="https://twitter.com/share", data-url="http://www.CompassionPit.com", data-text="CompassionPit: get it off your chest without it biting you in the ass", data-count="horizontal", data-via="CompassionPit")
      Tweet
    br
    script(src="//platform.twitter.com/widgets.js")
    iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.compassionpit.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:240px; height:35px;", allowTransparency="true")
    :markdown
      Why are you so awesome?
      -------------------
      I can't take any credit for it.  I'm a product of my environment.
      
      Was your question not answered?
      -------
      Anonymously submit it using this handy form and we'll get back to you.

     iframe(src="https://awesomenessreminders.wufoo.com/embed/k7x2z1/",height="437",allowTransparency="true",frameborder="0",scrolling="no",style="width:100%;border:none")
        a(href="https://awesomenessreminders.wufoo.com/forms/k7x2z1/",title="Contact CompassionPit"
          Fill out my Wufoo form!

