script
  mixpanel.track("Homepage View");
  window.startingRoomCounts = !{JSON.stringify(roomCounts)};
  if (!document.cookie.match(/referrer=http/)) {
      document.cookie = "referrer=" + encodeURIComponent(document.referrer);
  }
  
  $(document).ready(function() { 
    $("a.vent").click(function(){
      mixpanel.track("Clicked Vent Button");
      return true;
    }); 
    $("a.listen").click(function(){
      mixpanel.track("Clicked Listen Button");
      return true;
    });
  });
  
  
- if(loggedOut) {
  script
    (function($) {
      $(document).ready(function() {
        $("body")
          .prepend($("<div>")
            .attr("id", "version-bar")
                .click(function () {
                    window.showBrowserCloseMessage = false;
                })
                .append($("<p>")
                    .text("You have been logged out.")));
      });
    }(jQuery));

- }

.cont_lft.fltlft
  h1#counts Currently Online: 
    span#listener-count 0
    span Listeners and
    span#venter-count 0
    span Venters
  em.venting Spill your guts to a random chat partner:
  div(id="venterIntro",style="display:none; font-size:1.3em; width: 80%; background-color: #FFB6C1")
    p Talking about your problems with someone may help you see things more clearly, gain a new or different perspective, relieve some tension, and let you know that you are not alone.
    p Listeners of Compassion Pit are regular people with no professional training, willing to dedicate their time to listen to you. If you feel your problems are critical, we strongly suggest you to seek help from professionals.
  a.vent(href="/vent") &nbsp;
  em.listening Help a random person get it off their chest:
  a.listen(href="/listen") &nbsp;
  span.new
    img(src="img/hug-white.png")
.cont_rht.fltrht
  h1 Compassion Pit visitors are people dealing with all sorts of life's problems. And we’re here to help...
  em Whether it's sex, gender identity, relationship problems, sexual identity, domestic abuse, friendship loyalty, sexual perversions, money, crime, sexually transmitted diseases, procrastination, boredom... You name it! Learn more at our 
    a(href="/faq") FAQ Page
  span.testimonial
    b This site has really given me hope. Somehow you end up talking to someone that really help you.
      em -Anonymous
  ul.social
    li
      a.twitter-share-button(href="https://twitter.com/share", data-url="http://www.CompassionPit.com", data-text="CompassionPit: get it off your chest without it biting you in the ass", data-count="horizontal", data-via="CompassionPit")
        Tweet
      script(src="//platform.twitter.com/widgets.js")
    li
      .g-plusone(data-href="http://www.compassionpit.com")
      script
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    li
      iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.compassionpit.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:240px; height:35px;", id="facebookLikeBoxIFrame")

  div(id="infoDisclaimer", style="background:#EEB4B4;font-size:1.2em")
    p At Compassion Pit we strive to create an environment where our users can positively affect each other over the World Wide Web. We do not claim to be medical professionals, so if your problems are severe or life-threatening then please call your local authorities. 
    br
    br 
    pre Thank you,
        \ The Staff

  div#bottom-ad-unit(style="float: right")
    script(type="text/javascript")
      google_ad_client = "ca-pub-6036766792552196";
      /* Homepage Bottom Banner */
      google_ad_slot = "0315967237";
      google_ad_width = 468;
      google_ad_height = 60;
    script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
.clear
