!!! 5
html
  head
    title Compassion Pit
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    script(src="/jquery-1.5.min.js")
  body
    #container
      h1 Compassion Pit
      hr
      #main!= body