!!! 5
html
  head
    script 
      var _sf_startpt=(new Date()).getTime()
    title Compassion Pit
    - if (config.serveMerged)
      link(rel="stylesheet", href="/style.min.css?" + cssHash, type="text/css")
    - else
      - each style in config.styles
        link(rel="stylesheet", href="/" + style, type="text/css")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Feeling down? CompassionPit makes it easy to find an anonymous friend to share your troubles with, without fear of being blackmailed later on.")
    script
      window.COMPASSION_PIT_VERSION = !{JSON.stringify(config.version || 0)};
    - if (config.serveMerged)
      script
        (function(){var noop=function(){};var console={log:noop,error:noop}})()
      script(src="/script.min.js?" + jsHash)
      script(src="//platform.twitter.com/widgets.js")      
    - else
      - each script in config.scripts
        script(src="/" + script)
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17971348-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script
      (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
      mixpanel.init("786403ab5b4976f094b54a6f862dacb3");

  body
    #wrapper

      #header
        .container
          a(href="/")
            img.logo(src="img/logo-homepage.png", width="604", height="367", alt="compassionpit logo")
          .nav
            ul
              li
                a(href="/listener-training") Training
              li
                a(href="/forum/") Forum
              li
                a(href="/blog/") Blog

      #body_container
      .container
        .topbg
        .midbg
          != body
        .btmbg

      #footer
        .container
          p &copy; 2012 CompassionPit.com All rights reserved.
          ul.footernav
            li
              a(href="/") Home
            li
              a(href="/about-us") About Us
            li
              a(href="/faq") FAQ
            li
              a(href="/terms-of-service") Terms
            li
              a(href="/privacy-policy") Privacy
            li
              a(href="/hypnosis.html") Is hypnosis the answer?
            li.last
              a(href="/contact") Contact
