!!! 5
html
  head
    title Compassion Pit
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Feeling down? CompassionPit makes it easy to find an anonymous friend to share your troubles with, without fear of being blackmailed later on.")
    script(src="/jquery-1.5.min.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17971348-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #container
      #header
        a(href="/")
          h1 Compassion Pit
      != body
      #footer
        #copyright_notice
          span &copy; 2010-2011
          #{" CompassionPit.com All rights reserved."}
        #nav
          ul#links
            li
              a(href="/") Home
            li
              a(href="/about-us") About Us
            li
              a(href="/blog/") Blog
            li
              a(href="/forum/", target="_blank") Forum
            li
              a(href="/terms-of-service") Terms of Service
            li
              a(href="/privacy-policy") Privacy Policy