#main
  #leaderboard
    p
      #{scores}
    table(cellpadding=5, bordered="true")
      each score, leader in scores
        - var i = 1        
        tr
          td=i++
          td=leader
          td=score.username
    
    :markdown
      Leaderboard
      -------------------
      This is a leaderboard.
      
      Improve your rank
      -----------------
      You can improve your position on the leaderboard by becoming a better listener or completing one of the training modules.
      Training modules are coming soon!