#main
  #leaderboard
    - var i = 1;
    table(cellpadding=5, bordered="true")
      each user, position in scores
        - position_number = '#' + (i++)
        tr
          td=position_number
          td=user.username
          td=user.score
    
    h2.leaderboard The Top 15
    p The list is automatically updated every 15 minutes.
    
    h2.leaderboard Improve your rank
    p You can improve your position on the leaderboard by becoming a better listener or completing one of the training modules.
    p Training modules are coming soon!
