#main
  #leaderboard
    p
      #{leaderboard}
    table(cellpadding=5, bordered="true")
      each score, leader in leaderboard
        tr
          td=leader
          td=score
    
    :markdown
      Leaderboard
      -------------------
      This is a leaderboard.
      
      Improve your rank
      -----------------
      You can improve your position on the leaderboard by becoming a better listener or completing one of the training modules.
      Training modules are coming soon!