#main
  #leaderboard
    table(cellpadding=5, bordered="true")
      each score, leader in leaderboard
        tr
          td=leader
          td=score
    
    :markdown
      Leaderboard
      -------------------
      This is a leaderboard.
      
      Contact
      -------
      If you have any questions, you can improve your rank on the leaderboard first.