#main
    script(src="//speakerdeck.com/assets/embed.js",async="async",class="speakerdeck-embed",data-id="4f9bb9e0242e84001f025726",data-ratio="1.2945638432364097")
    a.twitter-share-button(href="https://twitter.com/share", data-url="http://www.CompassionPit.com", data-text="CompassionPit: get it off your chest without it biting you in the ass", data-count="horizontal", data-via="CompassionPit")
      Tweet
    br
    script(src="//platform.twitter.com/widgets.js")
    iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.compassionpit.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:240px; height:35px;", allowTransparency="true")
    :markdown
      Was your question not answered?
      -------
      Anonymously submit it using this handy form and we'll get back to you.

     iframe(src="https://awesomenessreminders.wufoo.com/embed/k7x2z1/",height="437",allowTransparency="true",frameborder="0",scrolling="no",style="width:100%;border:none")
        a(href="https://awesomenessreminders.wufoo.com/forms/k7x2z1/",title="Contact CompassionPit"
          Fill out my Wufoo form!

