#main
  #extra
    //- Should probably move this out to not be hard-coded
    :markdown
      Privacy Policy
      -------------------
      The CompassionPit privacy policy:

      \As a system-level check against abusers, we anonymously collect IP addresses of people who connect, and run them through a hashing algorithm.  This means that in the event that our servers somehow got hacked, this would still not be enough information to identify you personally.  However, it would be enough information to get an approximate idea of your location.  

      \In the past, we have stored chat logs in the server, temporarily; we have to rotate them every so often because the disk runs out of space, and since we are not personally reading or reviewing them, we are willing to throw them away.  In the future we may begin to store anonymized chat logs again (with NO no identifiable information!), and to run them through a static analysis tool: in other words, so we can learn from what types of conversations lead to good feelings between the listener and venter.  We'll look for certain keywords, such as "love" or smiley faces, or whatever the positive indicators might be.  We do NOT tie the chat logs to the listener user ID, and the venter does not have a user ID since there are no accounts for venters.

      \The ONLY person that has access to these logs is me.  I will NEVER read your chat conversations directly.  I would only, hypothetically, look through them in aggregate to look for particular patterns that lead to users having a positive experience on this site.  All of the logs are on a separate server that only I have access to.  In fact, there are even special restrictions on the server so that ports are locked down and only particular IP addresses can connect to those ports, SSH and the specially configured port that we're running MongoDB (our database) on.  

      \We do not store ANY passwords in plain text.  When users log in to vbulletin, the forums software we use, we hash the passwords using a salt, and then run them through an extra hashing algorithm.  In other words, if you use a password, even I would not be able to see it, unless I rented thousands of servers and spent a year trying to brute force crack it, which I have no reason for wanting to do. 

      \Information is NEVER shared with third parties.  I will NEVER sell your email address.  In the future to support the site's operations, I may offer certain products for sale, but I will always give you the opportunity of dealing directly with the vendor after I suggest it: I will NEVER give any third party vendors personal information about you.  I will NEVER distribute your email address to ANYONE, including moderators of the forums.  Your personal identity is PRIVATE unless you explicitly choose to reveal it (for example by typing it out on your user profile on the forums).

      \Cookies are used to identify registered listeners with forums accounts.  If you log in to the forums, a cookie will be set on your computer.  The same cookie that identifies you as a forum user is what identifies you as a registered listener.  If you log out of the forums, your cookies will be deleted -- for both the forums, as well as the main site.  If a registered listener chooses to vent while still logged in, NONE of their identifying information as a listener will be stored or read whatsoever.  In other words, you are treated anonymously.

      \If at any point you wish to verify the practices in the privacy policy, please feel free to conduct an audit of the application's source code, which is published publicly:  http://www.github.com/zackster/CompassionPit--node-

      \We have zero intentions of collecting personal information in the future or of selling your information or even sharing it for free with other third parties.  If at any point we start collecting personal information, or revealing it to anyone, you will be given advance notice with an email as well as a notice on the main website.

      \If at any time you wish to delete your CompassionPit forums account, then simply contact me directly, _zachary_@_CompassionPit_._com_, and I will delete your account and all your posts.  Furthermore, if you wish to delete one specific post, or have personal information removed, simply contact me directly, and I will remove it promptly.

      \If you have ANY questions about this policy, then please contact me directly: _zachary_@_CompassionPit_._com_.
      
      Contact
      -------
      \If you have any questions, you can contact us at _zachary_@_CompassionPit_._com_. Please put "CompassionPit Privacy Policy" in the subject line. Thanks!
