#tagline
  h1 Privacy Policy

#main
  #column_left
    //- Should probably move this out to not be hard-coded
    :markdown
      Privacy Policy
      -------------------
      CompassionPit respects your privacy and understands how important it is. All data collected is anonymized, no IP addresses are stored, and no personal data is stored. If abuse ever becomes a problem, we may be forced to implement some kind of access logging solution in order to ensure the safety of all members, but we will never intercept the contents of your chats.
      
      Contact
      -------
      If you have any questions, you can contact us at _zackster_@_gmail_._com_. Please put "CompassionPit Privacy Policy" in the subject line. Thanks!
    
    br.clear
  
  #column_right
    #buttons1
  
  br.clear
