ul
- each message in messages
  li 
    b #{message.partner}: 
    #{message.text}
    
span(style="display:none;")***
script(type="text/javascript",language="javascript",id="pnyxeDiscussItJs",src="http://www.pnyxe.com/PnyxeDiscussItJs.jsp")
script(type="text/javascript",language="javascript",id="pnyxeDiscussItInitJs504813")
    try { var zpbw_webWidgetClientKey = "FkLmVVLJObj.MzIE0eNp.A"; var pnyxeDiscussIt = new PnyxeDiscussIt(); pnyxeDiscussIt.init("504813"); } catch (e) {}