!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Compassion Pit
    link(href='reset.css', rel='stylesheet', type='text/css')
    link(href='960_grid.css', rel='stylesheet', type='text/css')
    link(href='css3.css', rel='stylesheet', type='text/css')
    script(src='jquery-1.7.2.js', type='text/javascript')
    script(src='index.js', type='text/javascript')
    script(type='text/javascript')
      $(document).ready(function(){
          if((navigator.userAgent.match(/Android/i))||(navigator.userAgent.match(/iPhone/i))
          || (navigator.userAgent.match(/iPod/i)) ||
          (navigator.userAgent.match(/iPad/i))){
              $('.outer_wrapper').css('width','1024px');
          }
          
          if(window.screen && window.screen.width>1024) {
            // let's insert some more ad units!
            $("#leftAd").show();
            $("#rightAd").show();
          }
      });
  body
    div#leftAd(style="display:none; position:absolute; left:10px; top: 82px")
      script(type='text/javascript')
        google_ad_client = "ca-pub-6036766792552196";
        google_ad_slot = "3162253728";
        google_ad_width = 120;
        google_ad_height = 600;
      script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')

    div#rightAd(style="display:none; position:absolute; right:10px; top: 82px")
      script(type='text/javascript')
        google_ad_client = "ca-pub-6036766792552196";
        google_ad_slot = "3164964792";
        google_ad_width = 120;
        google_ad_height = 600;
      script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
          
    .outer_wrapper
      .container_12
        #header
          a.logo(href='index.html')
            img(src='redesign-logo.png', width='964', height='140', alt='')
        #body_container
          .grid_12
            .grid_6.alpha.omega.left_container
              h2
                | Compassion Pit visitors are people dealing with all
                br
                | sorts of life's problems. And we're here to help...
            .grid_6.alpha.omega.right_container
              p
                | Whether it's sex, gender identity, relationship problems, sexual identity,
                br
                | domestic abuse, friendship loyalty, sexual perversions, money, crime,
                br
                | sexually transmitted diseases, procrastination, boredom... You name it!
                br
                | Learn more at our
                a(href='/faq') FAQ Page
          #banner.grid_12
            em
            a.banner_sec1(href="/vent")
              h2 Vent
              h3 anonymously
            a.banner_sec2.push_6(href="/listen")
              h2 Listen
              h3 to a venter
            .banner_sec3
              p
                | Currently Online:
                br
                span(id="listener-count") 0
                &nbsp;
                |Listeners
                br                
                | and 
                span(id="venter-count") 0
                &nbsp;
                |Venters
          .grid_12.content_sec
            p
              | "This site has really given me hope. Somehow you end up talking to someone that really help you."
              br
              | -Anonymous
          .grid_4.push_4.alpha.omega.content_btn
            a(href='http://www.compassionpit.com/forum/') Forum
            a(href='terms-of-service') Terms
            a(href='privacy-policy') Privacy
            
          .grid_12.content_sec
            p
              | At Compassion Pit we strive to create an environment where our users can positively affect each other over the World Wide Web.
              br
              | We do not claim to be medical professionals, so if your problems are severe or life-threatening then please call your local authorities.
        #footer.grid_12
          p &copy; 2012 CompassionPit.com All rights reserved.
          ul
            li
              a(href='#') Home
            li
              a(href='about-us') About Us
            li
              a(href='blog') Blog
            li
              a(href='faq') FAQ
            li
              a(href='testimonials.html') Testimonials
            li
              a(href='contact') Contact
          div#bottomAd(style="margin-top: 30px; text-align: center")
            script(type='text/javascript')
              google_ad_client = "ca-pub-6036766792552196";
              google_ad_slot = "8292154188";
              google_ad_width = 728;
              google_ad_height = 90;
            script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
      
    script(type='text/javascript', src='https://d31qbv1cthcecs.cloudfront.net/atrk.js')
    script(type='text/javascript')
      _atrk_opts = { atrk_acct: "IpTUf1aYS500EW", domain:"compassionpit.com"}; atrk ();
    noscript
      img(src='https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=IpTUf1aYS500EW', style='display: none;', height='1', width='1', alt='')

