#tagline
  h1 System
#main
  #column_full
    form(action="", method="POST")
      p
        label
          #{"Password: "}
          input(type="password", name="password")
      p
        label
          #{"Message: "}
          input(type="text", name="message", size="120")
      p
        label
          input(type="checkbox", name="restart", value="y")
          #{" Restart?"}
      p
        label
          #{"Restart time in seconds: "}
          input(type="text", name="restartTime", value="60")
      p
        input(type="submit")