#tagline
  h1 System
#main
  #column_full
    form(action="", method="POST")
      p
        label
          #{"Password: "}
          input(type="password", name="password")
      p
        label
          #{"Message: "}
          input(type="text", name="message")
      p
        input(type="submit")