#tagline
  h1 Terms of Service

#main
  #column_left
    //- Should probably move this out to not be hard-coded
    :markdown
      Terms of Service
      -------------------
      CompassionPit is a free service. The goal of it is to enable honest human-to-human communication in pursuit of happier living for everyone. Please be responsible when using CompassionPit.
      
      By using CompassionPit, you agree to indemnify the website proprietors from any injuries, emotional physical or financial, sustained during the use of the service.

      Contact
      -------
      If you have any questions, you can contact us at _zackster_@_gmail_._com_. Please put "CompassionPit TOS" in the subject line. Thanks!
    
    br.clear
  
  #column_right
    #buttons1
  
  br.clear
