
#main
  #extra
    //- Should probably move this out to not be hard-coded
    :markdown
      Terms of Service
      -------------------
      CompassionPit is a free service. The goal of it is to enable honest human-to-human communication in pursuit of happier living for everyone. Please be responsible when using CompassionPit.
      
      By using CompassionPit, you agree to indemnify the website proprietors from any injuries, emotional physical or financial, sustained during the use of the service.  You further agree to indemnify all users of the service from any injuries, emotional physical or financial, sustained during the use of the service.  "Users" include persons met on or through the CompassionPit service, whether in CompassionPit chat, CompassionPit forum, CompassionPit twitter, or similar other.

      Contact
      -------
      If you have any questions, you can contact us at _zackster_@_gmail_._com_. Please put "CompassionPit TOS" in the subject line. Thanks!