body {
  overflow:scroll;
}
a.registration_mistake {
  display:block;
  margin-top:15px;
}

div.announce {
  padding-bottom:10px;
  margin-top:-10px;
}

div#leaderboard {
  
  padding: 20px;
  
}

div#leaderboard table {
  border-collapse:collapse;
}
div#leaderboard table, div#leaderboard th,  div#leaderboard td {
  border: 1px solid black;
}

span#currentUser {
  font-weight: bold;
}
.ui-progressbar-value { background-image: url(jquery-ui-images/pbar-ani.gif) !important; }
div#initializing { padding: 20px; }
div#progressbar { margin-top: 10px; }
button.registration {
  font-size: 1.6em;
}

/***** General Styles ******/

#audioPlayer {
	width: 960px;
	height: 0px;
	opacity: 0;
}

/***** Main Content Styles ******/
#main {
	width:980px;
	margin:0px auto;
	/* box-shadow: 0px 0px 6px rgba(42,159,227,1), inset 0px 0px 250px rgba(216,243,255,0.5); */
	background: #fff;
	overflow: auto;
}

#main #mainleft {
	width:660px;
	float: left;
	padding: 10px;
	text-align: center;
}

#mainleft h2 {
	color: rgba(42,159,227,1);
	font-size: 24px;
	padding-bottom: 10px;
}

#mainleft p {
	font-size: 14px;
}

#mainleft #counts{
	color: rgba(42,159,227,1);
	font-size: 20px;
}

#main #mainright {
	width:280px;
	float: right;
}

#main #left {
	width:680px;
	height: 370px;
	float: left;
}

#column_left_chat {
	width: 660px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 240px;
	margin: 10px;
    box-shadow: 0px 0px 6px rgba(42,159,227,1), inset 0px 0px 250px rgba(216,243,255,0.5);
}

#column_left_chat::-webkit-scrollbar {
    width: 10px;
    height: 260px;
}

#column_left_chat::-webkit-scrollbar-track {
	background: rgba(42,159,227,0.1);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
}

#column_left_chat::-webkit-scrollbar-thumb {
	background: rgba(42,159,227,1);
}


#chatWindow{
	width: 640px;
	margin-right: 10px;
}

#chatWindow tbody tr {
	border-bottom: 1px solid rgba(42,159,227,0.1);
}

#chatWindow tbody td {
	padding: 5px;
}

#left #inform {
	height: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 595px;
	border: 0;
	padding: 0;
	float: left;
	font-size: 18px;
	background: rgba(42,159,227,0.05);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
}

#left #sendmessage {
	height: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 60px;
	background: #2a9fe3;
	border: 0;
	float: right;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

#main #right {
	width:280px;
	height: 443px;
	float: right;
}

#buttons1 {
	width:280px;
}

#status {
	margin: 10px 10px 57px 0px;
	width: 250px;
	padding: 10px;
	text-align: center;
	background: #2a9fe3;
	color: #fff;
	font-weight: bold;
}

#buttons1 li {
	display: block;
	margin: 10px 10px 10px 0px;
	width: 270px;
	padding-top: 7px;
	background: rgba(42,159,227,0.05);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
	text-align: center;
	height: 23px;
	color: rgba(42,159,227,1);
	font-weight: bold;
}

#buttons1 li.hidden {
	display: none;
}



#buttons1 a:link, #buttons1 a:active, #buttons1 a:visited, #buttons1 a:hover{
  color: rgba(42,159,227,1);
}

.infoMessage {
}

#typing_status{
	margin: 10px 10px 10px 0px;
	width: 270px;
	padding-top: 8px;
	text-align: center;
	height: 22px;
	color: rgba(42,159,227,1);
	font-weight: bold;
}

#fb{
	text-align: center;
}

#extra{
	padding: 0 15px 15px 15px;
}

#extra h2{
	color: rgba(42,159,227,1);
	font-size: 17px;
	padding-bottom: 5px;
	padding-top: 20px;
}

#extra p{
	padding-bottom: 5px;
}

/*- Buttons 2--------------------------- */
	
#buttons2 {
	width: 600px;
	margin: 10px;
	float: left;
	margin:30px 60px 0 40px;
}
	
#buttons2 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	background: #4a7a8a;
	text-align: left;
	padding: 8px 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 200px;
	display: inline;
	float: left;
	color: #FFF;
}

#buttons2 li a:hover {
	background: #52b9db;

}		

/***** Contact Form Styles ******/

input#name {
	height:16px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

input#email {
	height:16px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

textarea#message {
	height:110px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

input#submit {
	height:25px;
	width:100px;
	background:#999;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:3px 0px;
	cursor:pointer;
}



#column_full {
	padding:0px 60px 0px 60px;
}

.white-row {
}

.off-white-row {
	background: rgba(42,159,227,0.05);
}

.blue-row {
	background-color: rgba(42,159,227,0.2);
}

.yellow-row {
	background-color:#faec87;
}

.errorMessage {
	color: red;
}


#version-bar a, #version-bar a:link, #version-bar a:visited, #version-bar a:active {
  display: block;
  color:#000;
  background:#ffffe1;
  border-bottom:1px outset;
  text-decoration:none;
}

#version-bar a:hover {
  color: #fff;
  background: #3169b6;
}

#version-bar p {
  margin: 0;
  padding: 3px 10px;
  font-size: 11px;
  text-align: center;
}

/* ----------------- Index page ---------------------- */
.fltlft 					{ float:left; }
.fltrht 					{ float:right }
.clear 						{ clear:both; font-size:0px; line-height:0px; padding:0px; margin:0px; height:0px; }
.clrBlock					{ clear:both; font-size:0px; line-height:0px; display:block;}
body						{ font: 87.5% Arial, Helvetica, sans-serif; color:#000000; background: url(../img/bg.png) center top repeat;}
strong             			{ font-weight:bold;}

.container					{ width:971px; height:auto;  margin:0 auto; position:relative; z-index:100; }
	
#wrapper					{ width:100%; height:auto; margin:0; padding:0; position:relative;}

#header						{ width:auto; height:115px;}
.logo						{ width:604px; height:77px; margin:0; padding:21px 0 0 0; float:left; }	
.nav						{ background: url(../img/menubg.png) center top no-repeat; width:340px; height:40px; margin:0; margin:40px 0 0 0; padding:0; float:right;}
.nav ul						{ list-style:none; margin:0; padding:0 0 0 5px; }
.nav ul li					{ list-style:none; float:left; margin:0; padding:6px 17px;}
.nav ul li a				{ display:block; font:bold 1.286em Tahoma, Geneva, sans-serif; color:#fff; text-decoration:none; padding:0}
.nav ul li a:hover			{ color:#fff; text-decoration:none;}

#body_contnainer			{ width:auto; height:auto;}
.topbg						{ background:url(../img/topbg.png) center top no-repeat; width:982px; height:6px; margin-left:-1px; padding:0; background-size:100%;}
.midbg						{ background:url(../img/mid.png) repeat-y center top; width:982px; height:auto; margin-left:-1px; padding:0 0 36px 0;background-size:100%;}
.btmbg						{ background:url(../img/bottombg.png) center top no-repeat; width:982px; height:9px; margin-left:-1px; padding-bottom:10px;background-size:100%;}

.cont_lft					{ width:367px; height:auto; margin:0; padding:36px 0 0 39px; }
.cont_lft h1				{ font:bold 1.286em Arial, Helvetica, sans-serif; color:#ff9123; padding-bottom:21px;}
.cont_lft h1 span			{ font:normal 0.8em  Arial, Helvetica, sans-serif; color:#545454; height:19px; }
.cont_lft h1 span#listener-count			{ padding: 0 5px 0 5px; height:19px; }
.cont_lft h1 span#venter-count				{ padding: 0 5px 0 5px; height:19px; }
/*
.cont_lft h1.loading span#listener-count	{ background:url(../img/icon.jpg) right 0 no-repeat;  }
.cont_lft h1.loading span#venter-count		{ background:url(../img/icon.jpg) right 0 no-repeat;  }
*/

.cont_lft em				{ font:normal 1em  Arial, Helvetica, sans-serif; color:#545454; display:block; padding:0 0 5px 20px; }	
.cont_lft a					{ display:block; margin:0; padding:0; text-decoration:none;}
.cont_lft a.vent			{ background:url(../img/vent_anony_bg.jpg) center top no-repeat; width:330px; height:62px; margin:0; padding:0 0 20px 0;}
.cont_lft a.listen			{ background:url(../img/listen.jpg) center top no-repeat; width:330px; height:62px; margin:0; padding:0 0 20px 0;}
.cont_lft span.new			{ width:303px; height:auto; margin:0; padding:0; }
.cont_lft span.newframe		{ background:url(../img/new_bg.jpg) left 0 no-repeat; width:64px; height:64px; float:left; margin:0 5px 0 0; font:bold 1.286em/31px Tahoma, Geneva, sans-serif; color:#fff; text-align:center;}
.cont_lft span.new b		{ float:left; margin:0; padding:0;}
.cont_lft span.new b em		{font:normal 1em  Arial, Helvetica, sans-serif; color:#545454; display:block; padding:0; }
.cont_lft span.new b a		{ background:url(../img/arrow.jpg) right 1px no-repeat; font:bold 1.286em Tahoma, Geneva, sans-serif; color:#43c5f0; text-decoration:none; padding:0 19px 0 0; }


.cont_rht					{ width:468px; height:auto; margin:0; padding:36px 38px 0 0; }
.cont_rht h1				{ font:bold 1.286em Arial, Helvetica, sans-serif; color:#ff9123; padding-bottom:11px;}
.cont_rht em				{ font:italic normal 1em  Arial, Helvetica, sans-serif; color:#545454; padding-bottom:35px; display:block; }
.cont_rht em a				{ color:#43c5f0;}

.cont_rht span.testimonial	{ background:url(../img/testimonial.jpg) center top no-repeat; width:468px; height:169px; display:block; margin-bottom:32px;  }
.cont_rht span.testimonial b	{ font:italic bold 1em  Arial, Helvetica, sans-serif; color:#545454; width:391px; display:block; padding:35px 0 0 35px; }
.cont_rht span.testimonial b em	{ font:italic bold 1em Arial, Helvetica, sans-serif; color:#545454; width:391px; display:block; text-align:right; padding:20px 0 0;}
ul.social						{ list-style:none; margin:0; padding:0; float:right; }
ul.social li					{ list-style:none; float:left; margin:0; padding:0 3px 0 0;}
ul.social li a					{ text-decoration:none;}


#footer{width:auto; height:56px;}
#footer p						{ float:left; font:normal 0.786em Tahoma, Geneva, sans-serif; color:#fff;}
ul.footernav					{ list-style:none; margin:0; padding:0; float:right; }
ul.footernav li					{ list-style:none; float:left; margin:0; padding:0 15px 0 0;}
ul.footernav li a				{ text-decoration:none; font:normal 0.786em Tahoma, Geneva, sans-serif; color:#fff; }
ul.footernav li a:hover			{ text-decoration:none; color:#fff; }
ul.footernav li.last			{ padding:0 0 0 ;}

.lft_curve						{ position:absolute; top:0; left:0; width:200px; height:367px;}
.rht_curves						{ position:absolute; top:0; right:0; width:200px; height:367px;}

.lft_btmcurve					{ position:absolute; bottom:0; left:0; width:200px; height:367px;}
.rht_btmcurve					{ position:absolute; bottom:0; right:0; width:200px; height:367px;}

/* ----------------- Index page ---------------------- */


input.registration {
  font-size: 20px;
  width: 220px;
  color: black;
}

