/***** General Styles ******/

body {
	background: #21323b url("/img/bg.png") center;
	font-family: sans-serif;
	font-size: 13px;
}

/***** Main Content Styles ******/
#header {
	background: url("/img/logo.png") center center no-repeat;
	height: 120px;
	width: 960px;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

#main {
	width:960px;
	margin:0px auto;
	box-shadow: 0px 0px 6px rgba(42,159,227,1), inset 0px 0px 250px rgba(216,243,255,0.5);
	background: #fff;
	overflow: hidden;
}

#main #mainleft {
	width:660px;
	float: left;
	padding: 10px;
	text-align: center;
}

#mainleft h2 {
	color: rgba(42,159,227,1);
	font-size: 24px;
	padding-bottom: 10px;
}

#mainleft p {
	font-size: 14px;
}

#mainleft #counts{
	color: rgba(42,159,227,1);
	font-size: 20px;
}

#main #mainright {
	width:280px;
	float: right;
}

#main #left {
	width:680px;
	height: 300px;
	float: left;
}

#column_left_chat {
	width: 660px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 240px;
	margin: 10px;
}

#column_left_chat::-webkit-scrollbar {
    width: 10px;
    height: 260px;
}

#column_left_chat::-webkit-scrollbar-track {
	background: rgba(42,159,227,0.1);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
}

#column_left_chat::-webkit-scrollbar-thumb {
	background: rgba(42,159,227,1);
}


#chatWindow{
	width: 640px;
	margin-right: 10px;
}

#chatWindow tbody tr {
	border-bottom: 1px solid rgba(42,159,227,0.1);
}

#chatWindow tbody td {
	padding: 5px;
}

#left #inform {
	height: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 600px;
	border: 0;
	padding: 0;
	float: left;
	font-size: 18px;
	background: rgba(42,159,227,0.05);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
}

#left #sendmessage {
	height: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 60px;
	background: #2a9fe3;
	border: 0;
	float: right;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

#main #right {
	width:280px;
	height: 300px;
	float: right;
}

#buttons1 {
	width:280px;
}

#status {
	margin: 10px 10px 97px 0px;
	width: 250px;
	padding: 10px;
	text-align: center;
	background: #2a9fe3;
	color: #fff;
	font-weight: bold;
}

#buttons1 li {
	display: block;
	margin: 10px 10px 10px 0px;
	width: 270px;
	padding-top: 7px;
	background: rgba(42,159,227,0.05);
	box-shadow: inset 0px 0px 2px rgba(42,159,227,0.8);
	text-align: center;
	height: 23px;
	color: rgba(42,159,227,1);
	font-weight: bold;
}

#buttons1 a:link, #buttons1 a:active, #buttons1 a:visited, #buttons1 a:hover{
  color: rgba(42,159,227,1);
}

.infoMessage {
}

#typing_status{
	margin: 10px 10px 10px 0px;
	width: 270px;
	padding-top: 8px;
	text-align: center;
	height: 22px;
	color: rgba(42,159,227,1);
	font-weight: bold;
}

#fb{
	text-align: center;
}

/***** Footer Styles ******/

#footer {
	background: url("/img/mainshadow.png") top center no-repeat;
	height:60px;
	width:940px;
	margin: 0 auto;
	padding: 10px 20px 10px 20px;
}

#copyright_notice {
	width: 340px;
	float: left;
	font-size: 12px;
	color: #000;
}

#copyright_notice span {
	color: #000;
}

#nav {
	float: right;
	width: 600px;
}

#nav ul#links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
	float: right;
}

#nav ul#links li {
	float: left;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 10px;
	margin:0;
}

#nav ul#links a:link, ul#links a:active, ul#links a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#nav ul#links a:hover {
	text-decoration:none;
	color: rgba(42,159,227,1);
}


#extra{
	padding: 0 15px 15px 15px;
}

#extra h2{
	color: rgba(42,159,227,1);
	font-size: 17px;
	padding-bottom: 5px;
	padding-top: 20px;
}

#extra p{
	padding-bottom: 5px;
}


/*- Buttons 2--------------------------- */
	
#buttons2 {
	width: 600px;
	margin: 10px;
	float: left;
	margin:30px 60px 0 40px;
}
	
#buttons2 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	background: #4a7a8a;
	text-align: left;
	padding: 8px 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 200px;
	display: inline;
	float: left;
	color: #FFF;
}

#buttons2 li a:hover {
	background: #52b9db;

}		

/***** Contact Form Styles ******/

input#name {
	height:16px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

input#email {
	height:16px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

textarea#message {
	height:110px;
	width:370px;
	background:#f5f5f5;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#888888;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

input#submit {
	height:25px;
	width:100px;
	background:#999;
	border:1px solid #dadada;
	margin-bottom:10px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:3px 0px;
	cursor:pointer;
}




#column_full {
	padding:0px 60px 0px 60px;
}

.white-row {
}

.off-white-row {
	background: rgba(42,159,227,0.05);
}

.blue-row {
	background-color: rgba(42,159,227,0.2);
}

.yellow-row {
	background-color:#faec87;
}

.errorMessage {
	color: red;
}


#version-bar a, #version-bar a:link, #version-bar a:visited, #version-bar a:active {
  display: block;
  color:#000;
  background:#ffffe1;
  border-bottom:1px outset;
  text-decoration:none;
}

#version-bar a:hover {
  color: #fff;
  background: #3169b6;
}

#version-bar p {
  margin: 0;
  padding: 3px 10px;
  font-size: 11px;
  text-align: center;
}