
.white-row {
	background-color:#fff; /* this probably isn't necessary... */
}

.blue-row {
	background-color:#add8e6;
}

#status {
	font-weight: bold;
}

.errorMessage {
	color: red;
}

.infoMessage {
	color: blue;
}
